body {
  background: #00FA9A;
  font-size: 10px;
  font-family: 'Noto Sans', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Ubuntu', sans-serif;
}
a {
  text-decoration: none;
  color: #222;
}
.container {
  width: 855px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2em;
  padding-right: 2em;
  display: flex;
}
.container__left {
  width: 570px;
}
.container__right {
  width: 285px;
}
.main {
  background: #fff;
  padding-top: 3em;
  padding-bottom: 3em;
}
.main .main-left h2 {
  font-size: 2.5em;
  margin-bottom: 0.2em;
}
.main .main-left p {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em;
}
.main .main-left h3 {
  font-size: 1.7em;
  margin-bottom: 0.5em;
}
.main .main-left ul {
  list-style: inside;
}
.main .main-left ul li {
  font-size: 1.4em;
  list-style-type: circle;
}
.main .main-right img {
  margin-left: 6em;
}
.header {
  background: #fff;
  border-bottom: 2px solid #ccc;
}
.header h1 {
  font-size: 4.7em;
  font-weight: 400;
  font-style: italic;
  margin-top: 0.36em;
  margin-bottom: 0.36em;
}
.header .nav {
  font-weight: 700;
  font-size: 1.4em;
  margin-top: 1.5em;
}
