.header {
    background: #fff; 
    .container h1 {
        width: 12em;
        font-size: 4.7em;
        font-weight: 400;
        font-style: italic;
        margin-top: 0.3em;
        margin-bottom: 0.3em;
    }   
}
    